# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.env.*
**/.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log
logs/
**/*.json
**/*.txt
**/upload
# **/media_toolkit/__main__.py
# **/media_toolkit/__init__.py
**/media_toolkit/logs
*/media_toolkit/logs
media_toolkit/logs
*logs*
**/media_toolkit/__pycache__
**/media_toolkit/venv/
**/data_settings

**/media_toolkit/content_tools/output